{var $title= "Home - flash messages"}


{block navbar}
    {include "../navbar.latte"}
{/block}

{block #content}
<br><br>
<h1>Home - default</h1>
<p>Should be presented flash messages as default.</p>