{var $title= "Home - flash messages"}


{block navbar}
    {include "../navbar.latte"}
{/block}

{block #content}
<br><br>
<h1>Home - default</h1>
<h2>Extension providers must be used at Module extension</h2>