{block #content}

<h1>Home - detail</h1>
<a n:href="refresh!" class="btn btn-default">Refresh page via modal</a>
<p>time: {date("H:i:s")}</p>
<p>ajax: {if $presenter->isAjax()}ANO{else}NE{/if}</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend, arcu eu pretium sagittis, diam nulla scelerisque urna, sed scelerisque dui lorem eu ligula. In hac habitasse platea dictumst. Duis tincidunt arcu placerat, ultricies orci ut, semper lacus. Proin eu cursus urna, ut tincidunt odio. Maecenas et dolor non felis mattis tempor. Sed nisi mi, faucibus sit amet malesuada et, malesuada a nulla. Aliquam erat volutpat. Etiam ultricies sollicitudin quam, sed sagittis eros interdum vitae. Pellentesque pretium nunc non accumsan congue.</p>
