<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Petr Štipek, p.stipek@email.cz">

		<title n:snippet="title">{ifset $title}{$title}{/ifset}{if isset($projectName) AND isset($title)} | {/if}{ifset $projectName}{$projectName}{/ifset}</title>

		<link rel="shortcut icon" href="{$basePath}/favicon.ico">
        <link rel="stylesheet" href="{$basePath}/dist/css/modules{if !$isDebugMode}.min{/if}.css">
    </head>
	<body>
		{snippet styles}
		{block styles}
		{/block}
        {/snippet}

		{ifset navbar}
			{capture $navbar|strip}{include navbar}{/capture}
			{if $navbar!=''}
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container">
						{$navbar|noescape}
					</div>
				</nav>
			{/if}
		{/ifset}
		<div n:snippet="content" class="container" role="main">

			{ifset header}
	            {include header}
	        {/ifset}
			<div class="flashMessages">
				<div n:foreach="$flashes as $flash" n:class="alert, 'alert-'.$flash->type">{$flash->message|noescape}</div>
			</div>
			{include content}
			{ifset footer}
				{include footer}
			{/ifset}
		</div>
		<script type="text/javascript" src="{$basePath}/dist/js/modules{if !$isDebugMode}.min{/if}.js"></script>
		{snippet scripts}
	    {block scripts}
		{/block}
		{/snippet}
		<script type="text/javascript" src="{$basePath}/dist/js/modules-init{if !$isDebugMode}.min{/if}.js"></script>
	</body>
</html>
